[2014-07-25 14:39] gorn opened #1 "table:number-columns-repeated ignored"
Attribute `table:number-columns-repeated`is ignored, therefore have wrong address if these cells are present.

[2014-08-04 01:51] #1 closed, assigned to gorn

[2014-11-23 07:33] gorn opened #4 "Cells in fresh newly created file are not detached"
Cells in fresh newly created file are not detached automatically when setting the font. This may cause under rare circumstances failure to set the font.

[2014-11-24 02:05] #4 closed, assigned to gorn

[2015-09-21 15:09] zekefast opened #5 "Formulas processing."
I have not find any examples of work with formulas in spreadsheet. Is it possible to do with that library at all?

If not it would be a good extension to it ;)

[2015-09-21 16:48] gorn commented on #5
I have added this functionality few days ago and it is in very untested state. Feel free to test it and let me know any observations. However it is really experimental. Every cell object has a formula setter and getter, where you can set formula (starting with =) as string.

[2015-09-22 09:04] zekefast commented on #5
@gorn Thanks. Is that in `master`? Have you released this in some numbered version?

[2015-09-22 09:07] zekefast commented on #5
@gorn, I found that it is in the `master` know, but not in the `v0.2.7`. Thank you! I am going to check it! I'll write you back!

[2015-09-22 09:27] zekefast commented on #5
@gorn, For my purpose of generating formulas in the document it works like a charm!
I am wondering how circumstances coincidence: you have added it right few days before I need it.
That is really awesome!
Thank you a lot!

[2015-09-23 19:13] gorn commented on #5
Yes it is nice coincidence, on the other hand it is motivating, when I see other people use it as well. :) I have relased 0.2.8 with formulas and I will be releasing 0.2.9 soon, because i just found that there is an issue when rewriteing formula by fixed  string. That will be solved, but there is naother mysterious thing in LibreOffice itself - it appears, that each cell has a type, which can be n

[2015-09-23 21:45] gorn commented on #5
Formula supporst works from me fine, so this issue is closed. Feel free to open one if you spot any unexpected behaviour.

[2015-09-23 21:45] #5 closed

[2015-09-25 01:19] gorn opened #6 "Make ignoring negative coordinates optional/configurable."
Currently Worksheet#cells return nil when coordinates are negative (or zero). Some people might prefer some kind of warning or even exception raised. This should be configurable. Maybe this is more general and some other corner cases may be turned into exceptions or warnings.

[2015-09-28 07:43] zekefast commented on #5
@gorn Thank you a lot! :muscle:

[2015-09-29 12:11] zekefast opened #7 "Access to document octet string outside of ::Rspreadsheet::Workbook class without file creation."
# Use case

It is quite common that libraries are used in web frameworks. This is exactly my case and I suppose that many other people are doing the same.

In context of web framework it is not really efficient to create file on server then read it and afterwards delete. What I would like to do is to create document and instead of storing it to the file receive it in binary string which I can then

[2015-09-29 12:15] zekefast opened #8 "Provide access to document MIME type directly out from document object (::Rspreadsheet::Workbook class)."
# Use case

When you send document content through network it is very to useful to have it. Also it would be good if document object can directly provide you and information about its MIME type and type belongs directly to document.

# Links

- [OpenOffice MIME Types](http://www.openoffice.org/framework/documentation/mimetypes/mimetypes.html)

[2015-09-29 12:22] gorn commented on #7
This is generally good and interesting idea. I personally use the gem to manipulate local files, but this is nice usecase as well. Could you elaborate more your usecase? What do you mean by binary string? Can you write a pseudocode which you would expect to work?

[2015-09-29 12:32] gorn commented on #8
I do not understand exactly what do you mean. The mime type of documents generated is always application/vnd.oasis.opendocument.spreadsheet ... I can easily make it a constant in Rspreadsheet::Workbook class if it solves this issue.

[2015-09-30 12:23] zekefast commented on #8
@gorn Yeah. that is what I was thinking about. But probably it rather to make method instead of constant, so it can be accessed through document object.

[2015-09-30 12:25] zekefast commented on #7
@gorn Yeah, sure. I shall post it here when I complete preparation.

[2015-09-30 13:37] zekefast opened #9 "API improvements"
Have you considering to make an API similar to [Google Spreadsheet API](https://developers.google.com/apps-script/reference/spreadsheet/spreadsheet). Obviously they have API targeted specifically to JavaScript and you would need to adopted it to Ruby and all it's power, but anyway it would be nice to borrow some ideas from them.

[2015-09-30 19:45] gorn commented on #8
I have implementet it with commit 76bd4e8, so the master gem now does the trick. Can you test it if this is what you want. Optionally I can release new version if you are unable to install from github master.

[2015-09-30 19:51] gorn commented on #9
I will try to read through this, thanks for inspiration. Do you have any particular favorites in this API. Just write some pseudocode of gist how you would imagine that it works.

[2015-09-30 22:13] gorn commented on #9
Ok, I did put some list of possible inpiraion to  https://github.com/gorn/rspreadsheet/blob/master/DEVEL_BLOG.md (scroll down to possible ideas from Google Spreadsheet API (issue #9)).

There might be some things, but it really feels very non-ruby. Did you mean to reuse API as it is or, convert it to ruby style. For example in GS API they use something like

[code]
but I much prefer more ruby way

[2015-09-30 22:52] gorn opened #10 "Should we use plural syntax in accessing sheets, rows and columns?"
Currently the "verbatim" syntax looks like this:

[code]

shouldn't we use this or singular form

[code]

or allow both?

[2015-09-30 23:00] gorn opened #11 "Do we use `x.worksheet` or just `x.sheet`"
What the method for accessing worksheets should be?
[code]
or just
[code]
Brief research:
* zdavatz/spreadsheet uses `x.worksheet`
* roo uses `x.sheet`
* rubiod does not use anything, because it accesses everything using "brief" syntax
* https://en.wikipedia.org/wiki/Spreadsheet uses worksheet, but sais that just sheet is used as well.

Note 1: This is somehow orthogonal to issue #10, so there are

[2015-10-01 00:22] gorn commented on #11
Anyone who starred this gem (@robsalasco @heliohead @jimijimi @lhz @sorib @milligramme @richard-kiefer @jhoblitt @stevendaniels) if you have preference on this issue, can you please briefly comment out. Also consider looking at other issues marked [user opinion wanted](https://github.com/gorn/rspreadsheet/labels/user%20opinion%20wanted)

[2015-10-01 21:20] #6 closed

[2015-10-02 01:24] milligramme commented on #10
+1 for singular form because `book.worksheet(1).row(5).cell(2).value` each elements return not multiple values

[2015-10-02 09:09] richard-kiefer commented on #10
+1 for singular form, because  I read ```book.worksheet(3)``` etc. as a short version of ```book.giveMeWorksheetNumber(3)```. If you were to support array notation like ```book.worksheets[3]``` I supported the plural form, as the array itself is a collection of sheets and the bracket notation picks one from it. Just my humble opinion.

[2015-10-02 10:19] gorn commented on #10
It should be mentioned, that currently the method *without* parameter returns array of all rows, cells etc. if we change to singular form, than this probably be "detached" because `book.worksheets(1).rows` returning all rows on 1st sheet is shomehow ok, while `book.worksheet(1).row` doing the same sounds really strange.

[2015-10-02 10:23] gorn commented on #10
@richard-kiefer Yes I want to support the "array notation" as is newly [explained here](https://github.com/gorn/rspreadsheet/blob/master/GUIDE.md). And I am not sure if it is good idea to have "verbatim" syntax in singulat and "array" syntax in plural.

Third approach might be to let them work both - it is somehow nonpuristic, but on the other hand superuserfriendly. In that case I would use singu

[2015-10-02 14:42] zekefast commented on #9
@gorn I have not check all your ideas document completely, but definitely you do not need to make a direct copy of the Google Spreadsheet to you library, because at first Google Spreadsheet API was created for JavaScript and at second they have slightly different context of manipulation (here I mean that they manipulate with SpreadsheetApp and you rather with documents).

Also I like that you docu

[2015-11-02 14:23] zekefast commented on #7
@gorn So ... Sorry it takes too long for me to return to this.

Currently the only way to save document is to save it into file on filesystem using [`::Rspreadsheet::Workbook#save`](https://github.com/gorn/rspreadsheet/blob/master/lib/rspreadsheet/workbook.rb#L59) method.

It does not really make sense for web frameworks if you generate reports per request and sent file back as attachment. In that

[2015-11-02 21:02] gorn commented on #8
Closing by https://github.com/gorn/rspreadsheet/releases/tag/v0.2.1, please test

[2015-11-02 21:02] #8 closed

[2015-11-03 01:33] gorn commented on #7
I understand generally the idea, but since I do not use the gem this way (only locally to work with files on disk) it is hard for me to imagine what syntax and usage should be beneficial. Can you post a gist with a code you would like to see running? Why to use StringIO, is not there any better type for binary IOs? (ods file is basically zip file, so it is unreadable stringwise).

[2015-11-05 11:12] zekefast commented on #7
@gorn `StringIO` does not make any assumptions about IO's content it just steam of the data. It could be binary or text data. It does not matter. What is matter is that it does not store data to filesystem, you can work with it as with `IO` instance and you can get whole content of the `StringIO` instance with `#string` method.

Unfortunately I do not aware about any other types of `IO`'s. It seem

[2015-11-05 13:31] zekefast opened #14 "Monkey patching..."
I have looked into the code of library and saw that library monkey patched two classes: `LibXML::XML::Node` and `Array`.

In general monkey patching should be considered as code smell and all major libraries, like `rspec`, `shoulda-matchers`, `rom` try to reduce it nowadays or eliminate at all.
I suppose that it would be good to make refactoring library to eliminate them or at least use refinement

[2015-11-06 14:02] zekefast commented on #7
@gorn I added a dirty [PR](https://github.com/gorn/rspreadsheet/pull/15) to sketch an idea. What do you think?

[2015-11-06 15:19] gorn commented on #7
I replied in the pull req., but perhaps it is better to continue here. Regarding the syntax, what about this:

[code]
or even this
[code]
or perhaps
[code]
sound good to me ...

[2015-11-09 08:55] zekefast commented on #7
@gorn I am completely with anything of this. My refactoring was intended to reuse writing to `IO`. So, storing data to file has been built on top of writing to `IO`. So, user in case of necessity of `IO` object can access it just use same methods as libraries itself uses. That way of doing things allow you not to invent each time a new interface when users need new feature. But as I said I am Okay

[2015-11-19 14:06] gorn commented on #14
I agree with you, that this is to avoid. Generally I use monkey patching in initial phases of development, because it nicely allows to get on the track (I like this on ruby). But apparently this project has reached next level, so it is time to refactor this out. I will look at refinements.

[2015-11-20 00:41] gorn commented on #14
Closing this issue in release v0.2.14 - please have a look. I use refinements for newer versions of ruby (from 2.1, because the keyword "using" fails in ruby 2.0). I leave monkey patching for older ruby, for now, if you have better idea how to do it, let me know.

[2015-11-20 00:41] #14 closed

[2015-11-20 02:58] gorn commented on #7
@zekefast i have reused the core of your code to implement save_to_io method. Can you have a look at it. Does it satisfy what you need? I have hard time to write a test for it however, have a look at the bottom of [rspreadsheet_spec.rb](https://github.com/gorn/rspreadsheet/blob/master/spec/rspreadsheet_spec.rb), there is a test which does not work well (I put :skip to it so it is ignorede for now)

[2015-11-20 10:22] zekefast commented on #14
@gorn Thanks! I shall take a look at it on the weekend.

[2015-11-20 10:24] zekefast commented on #7
@gorn Nice! Thank you a lot! I shall check it a bit later today or tomorrow!

[2015-11-23 10:36] zekefast commented on #7
@gorn to write file binary you need to open it with a `b` mode (for example, `"wb+"`) or use `File::BINARY` constant. Please, see documentation for [`b`](http://ruby-doc.org/core-2.2.0/IO.html#method-c-new) mode or for [`BINARY`](http://ruby-doc.org/core-2.2.0/File/Constants.html) constant.

Also here is couple of notes on test improvements:
- I would suggest not to use global variables in tests a

[2015-11-23 10:47] zekefast commented on #14
@gorn I saw usage of refinements, but do not understand where you fallback to monkey patching for Ruby versions which does not support them. So, I can not make reasonable opinion on it. But you can require different files based on ruby version or use forwarding to forward to the same methods from refinements and from monkey patching. That is as a workaround, but in general best approach would be t

[2015-11-23 13:04] gorn commented on #7
I admit that I had difficulty to write the test for your issue, since I am not going to use the feature. Could you write one in separate pull request (or corrent mine, which currently does not pass).

[2015-11-23 13:06] gorn commented on #7
I think MD5 is not a good idea, because there are lot of things like time stams within the zip file, which will (and have to) be different. That is why I have crafted by "xml_diff" method - this is what we care about - it the files are equivalent xml wise.

[2015-11-23 19:38] gorn commented on #14
I put all the "optional" code  in https://github.com/gorn/rspreadsheet/blob/master/lib/helpers/class_extensions.rb ... I guess that it will fade away onece ruby 1.9 gois to oblivion.

I understand your point, but I think, that especially in case of LibXML::XML::Node it is more logical usage of ruby open classes than monkeypatching. The thing is, that on many places in code I work with LibXML::XML:

[2015-11-26 18:10] gorn commented on #14
Nice article about decorators

[2016-01-20 23:49] kumzme opened #16 "Unable to install under Windows"
This could take a while...
ERROR:  Error installing rspreadsheet:
        ERROR: Failed to build gem native extension.

[code]

checking for socket() in -lsocket... no
checking for gethostbyname() in -lnsl... no
checking for atan() in -lm... yes
checking for inflate() in -lfalse... no
checking for inflate() in -lzlib... no
checking for inflate() in -lzlib1... no
checking for inflate() in -llibz...

[2016-01-20 23:50] kumzme commented on #16
honestly am very very very very frus*

[2016-01-21 01:01] gorn commented on #16
Hi, kumzme :)

I do not know if I can help, but let us try. After all that what is open source about. The gem is not intended to be non-windows, but I do not have any experience with Windows, so I can not tell. I do not have the Windows license, so I can not test it. So if you want we can try to locate the error and correct it.

How you are trying to install it? Is there a bundler in windows, or y

[2016-02-16 19:41] bearpku opened #17 "Anything I can do to speedup?"
I am trying to read a spreadsheet which contains about 8k rows and 50 columns. What I am doing right now is:

[code]

it cost almost 1 hour to finish the reading. Anything I can do to speedup?

[2016-02-18 08:32] gorn commented on #17
Honestly I did not start to do aby speed optimization yet, because I am using the gem to work with several hundreds of cells so it is non issue. Could you send/attach sample of what you are trying to parse, so I can test it?

[2016-03-07 15:38] gorn commented on #17
It does not need to be a document containing real data, just rewrite them with random values, but I need something to udnerstand what you are trying to do.

[2016-03-07 18:43] gorn commented on #16
@kumzme Did you solve this or not? Shall I mark the isssue solved?

[2016-04-04 21:24] gorn commented on #11
I have introduced both syntaxes and closing this issue. Everyone can use his preferred syntax.

[2016-04-04 21:24] #11 closed

[2016-04-04 21:27] gorn commented on #16
@kumzme any progress on this?

[2016-05-19 14:29] Tvel opened #18 "Support for formats, borders"
Hi, is there a way to manually set format and borders of cells?

[2016-11-02 03:22] gorn commented on #18
Bold, italic and font size was supported long time ago via

cell.format.bold = true
cell.format.font_size = '15pt'

etc.

Now I have added support for borders like

cell.format.top.color = '#005500'
or
cell.border_top.color = '#005500'

Please have a look at many examples at https://gist.github.com/gorn/b432e6a69e82628349e6

So yes, it is supported. Let me know if you have any issues.

[2016-11-02 03:22] #18 closed

[2016-11-02 03:23] gorn commented on #18
Closed by #8d7026d111d9bce8c87d56c2c67684e0a9471c0b

[2016-11-02 03:23] gorn commented on #18
Closed by commit #8d7026d111d9bce8c87d56c2c67684e0a9471c0b

[2016-11-02 03:25] gorn commented on #16
Closing because there is no evidence, that it is still valid.

[2016-11-02 03:25] #16 closed

[2016-11-02 03:27] gorn commented on #9
@zekefast any thoughts on this? Have you looked at the ideas. What do you think?

[2016-11-02 03:31] gorn commented on #10
I have chosen to go with singulars, but aliasing plurals to the singulars, so the principle of least surprise applies.

[2016-11-02 03:31] #10 closed

[2016-11-02 03:32] gorn commented on #17
@bearpku any hope you might send your file?

[2016-11-03 15:00] gorn opened #19 "Consider borders with style none nonexistant?"
This is strange issue and I wonder what is your opinion on that.

In OpenDocument format a border can either not exist at all OR exist with style set to none.

I did not found any clue on what is the difference between these two. Now the (rather philosophical) question is what the following code should return (`@cell` contains a Cell object):

    @cell.border_right.style = 'dotted'
    @cell.bord

[2016-11-26 00:51] vtamara opened #20 "rspreadsheet stops after changing some cells with libxml-ruby 2.9.0"
I'm tyring to use rspreadsheet with a very simple example (changes several times the same cell of an existing spreadsheet), but it stops after some iterations, each time with different error.

The example  I'm using is available at https://github.com/vtamara/ej-rspreadsheet
My platform is adJ/OpenBSD 6.0 running ruby 2.3.1p112.
The libraries are updated as you can see in the Gemfile.lock of the ex

[2016-11-26 01:35] vtamara commented on #20
I have just confirmed that the problem occurs only with libxml-ruby 2.9.0.
If in the Gemfile I use
```gem 'libxml-ruby', '2.8.0'```
There is no problem.

This could be related to libxml-ruby#127

[2016-11-26 01:42] vtamara commented on #20
Since I believe this is a problem in libxml-ruby 2.9.0 and not in rspreadsheet, I'm closing the issue for rspreadsheet.

[2016-11-26 01:42] #20 closed

[2016-12-05 14:44] whitehat101 opened #21 "Working with Time"
I was looking into setting a Time (without a date) value into a sheet. I couldn't find an example of this, so I set a time using a desktop app, and attempted to read it back (to ultimately figure out how to set it), and received an exception.

[code]

[2016-12-05 14:46] gorn commented on #21
What exactly you are trying to achieve? Can you send me the code (or pseudocode) you are expecting to work, so I have nave a look at it?

[2016-12-05 14:53] gorn commented on #21
@whitehat101 What exactly you are trying to achieve? Can you send me the code (or pseudocode) you are expecting to work, so I have nave a look at it?

[2016-12-05 14:58] whitehat101 commented on #21
[code]

Github issues doesn't support ODS uploads, so this is an ODS with it's extension changed to zip (not an ODS inside a zip)
[time.zip](https://github.com/gorn/rspreadsheet/files/631380/time.zip)

I'm looking to set time values like what's in A1. I don't really need `to_s` to work, but the IRB REPL was calling it automatically. I bet I can work with `cell = sheet.cells('A1')` to set this.

[2016-12-05 15:08] gorn commented on #21
@whitehat101 Thanks. I will have a look at it.

[2016-12-06 09:56] gorn commented on #21
it is failing the test under ruby 2.2.3 ...

[2016-12-06 10:22] gorn commented on #21
@whitehat101 ok, it needed one more thing - to clean up the value when changing the cell from time to another type of contant. It works now. There is another issue though and it is the text part of nodes. You set it up with hardcoded format, but I am sure people will want to influence how time looks like in their spreadsheet. Ideally it would be able to accept all usual Calc formatters as well as

[2016-12-06 12:52] whitehat101 commented on #21
That's completely reasonable about the text value format. I just followed my sample's format. However, all the other formats in `value=` are also using hardcoded formats in their `text:p` nodes, so it seems like user formatters aren't quite a thing yet. (Unless this is being rewritten later?)

While looking at this I found: http://books.evc-cit.info/oobook/ch05.html#table-value-table

I started co

[2016-12-06 13:09] gorn commented on #21
@whitehat101 gorn:
I am completely fine with evolutionary approach to rspreadsheet so the change introduced right now is nearly exactly what I would call the "minimum change" to make it work.

No the format is not supported for other types either, because I did not need it yet. I think that first time I will need it for currency and/or date. At this point I will implement it on some systematical w

[2016-12-06 13:10] gorn commented on #21
Feature implemented to sufficient extend now

[2016-12-06 13:10] #21 closed

[2016-12-07 10:29] gorn opened #23 "Sometimes some Times break the script ;)"
In effort to make the gem fool proofed after introduction of Time handling I have found some cases when spreadsheet prepared in LibreOffice makes rspreadsheet break. Here are the cases found so far.

1. If you put in a date manually into cell and than change it to time only via formatting dialog, than it breaks the script. The thing is that LibreOffice stores "secretly" the date part even tought i

[2016-12-07 10:31] gorn commented on #21
@whitehat101 see also #23

[2016-12-07 13:49] gorn commented on #23
ad 1. It looks to be more complicated than I thought. Neither heuristic parse function nor the strptime is capable to parse what is in specification, which in case of time cell uses https://www.w3.org/TR/xmlschema-2/#duration for the time-value attribute. And LibreOffice puts values like this `PT923451H33M00.000000168S` in the cell if you put 2015-05-05 03:33:00 in manually. It is value conformant

[2016-12-12 19:52] whitehat101 opened #24 "Images"
For the last part of my project, I needed to insert an image. Adding an image requires modifying several files inside the ods archive, more than just `content.xml`. I found `randym/axlsx` supports image insertion, but I wasn't able to make sense of enough of their code (their project is builder-only).

In the end, I made a template ods with a placeholder image of fixed format, dimensions, etc. The

[2016-12-12 20:23] gorn commented on #24
Thanks for sharing this. Although definitly a hack it might serve as a steppingstone for the general feature. Just curious: what exactly is the b64image? Its a string you generate in your code, or a file read from disk? Wjat does the "path.ods" file contains (maybe attach a sample here).

[2016-12-12 22:27] whitehat101 commented on #24
Ah, that was a bit my-app specific. It's a [Data URI](https://developer.mozilla.org/en-US/docs/Web/HTTP/Basics_of_HTTP/Data_URIs). Mine was generated by a HTML `<canvas>` and `canvas.toDataURL()`.

For a general API, you'd probably want to accept stuff that acts like an `IO`, and not do decoding like that inside the Zip block.

[code]

[examples.zip](https://github.com/gorn/rspreadsheet/files/6473

[2017-01-12 17:42] gorn commented on #24
@whitehat101 I had implemented very basic images handling. Are you willing to test it a bit?

Worksheet has now methods
[code]
and some more. A code is bit ugly, but I would like to write some more tests before I start to clean up and release it. Currently you must pull it from github.

[2017-01-18 15:00] gorn commented on #24
Images are implemented in [release 0.3](https://github.com/gorn/rspreadsheet/releases/tag/v0.3)

[2017-01-18 15:00] #24 closed

[2017-01-19 07:46] gorn commented on #7
@zekefast the IO save code was massively refactored. Please give it a try, I wonder if it is suitable to whatever you need to do - the requested feature is implemented, see GUIDE.md. Briefly said, whenever you have IO like object io, you can simply say @workbook.save(io) or @workbook.save_to_io(io).

[2017-01-19 07:46] #7 closed

[2017-03-20 18:57] vtamara opened #25 "Trying to use rspreadsheet cloned in OpenBSD/adJ produces "sh: dpkg-query: not found" when running bundle install"
I cloned rspreadsheet and in another directory I started an example  with this Gemfile:

gem 'rspreadsheet', path: '../rspreadsheet'
gem 'libxml-ruby', '2.8.0'

When I run bundle install I obtain
sh: dpkg-query: not found

My platform is adJ/OpenBSD 6.0.

[2017-03-20 20:15] vtamara opened #27 "Regression: Spreadsheets manipulated by rspreadsheet 0.3 and 0.4.1 cannot be opened with Excel (2013, 2016)"
The spreadsheets generated with rspreadsheet 0.2.14 could be opened with Excel {2013,2016}.

I created a minimal project that shows the problem:
https://github.com/vtamara/prob-excel-rspreadsheet03

The error presented by Excel 2016:
![](https://raw.githubusercontent.com/vtamara/prob-excel-rspreadsheet03/master/excel2016.png)

When trying to open a file [min2.ods](https://github.com/vtamara/prob-e

[2017-03-20 20:36] gorn commented on #25
See some notes at the pull request here https://github.com/gorn/rspreadsheet/pull/26

[2017-03-20 22:47] #25 closed

[2017-03-20 22:50] gorn commented on #25
@vtamara please can you confirm that this solves your problem?

[2017-03-20 23:00] gorn commented on #27
@vtamara  I would like to fix this, one, but it is coing to be difficult, as I do not have Excel.

First of all I need to find out what is the difference is files that makes Excel fail. The best would be if you can hunt down the commit which cases the behaviour. There is a slight chance that this file  https://github.com/gorn/rspreadsheet/commits/master/lib/rspreadsheet/empty_file_template.ods its

[2017-03-20 23:32] vtamara commented on #25
It doesn't produce any weird output now. Thank you.
Comments in https://github.com/gorn/rspreadsheet/pull/26

[2017-03-21 00:06] reviewher commented on #27
@gorn just as a heads up, your suspicion is correct.  https://github.com/gorn/rspreadsheet/blob/master/lib/rspreadsheet/empty_file_template.ods does not open in Excel, giving an opaque "something went wrong" error.

[2017-03-21 09:45] vtamara commented on #27
Right, however there is no regression here since the empy file of version 0.2.14 couldn't be opened either: https://github.com/gorn/rspreadsheet/blob/v0.2.14/lib/rspreadsheet/empty_file_template.ods?raw=true

[2017-03-21 10:18] vtamara commented on #27
[Here](https://github.com/vtamara/prob-excel-rspreadsheet03/blob/master/empty-excel.ods?raw=true) I uploaded an empty file saved with Excel 2016.

[2017-03-21 11:06] gorn commented on #17
No communication from user so closing

[2017-03-21 11:06] #17 closed

[2017-03-21 11:14] gorn commented on #27
There is a strange thing. You are saying that in 0.2.14 it works correctly BUT that the "empty template" file does NOT open. Really? This is more than suspicious. Can you check if it works with file just freshly created with 0.2.14?

[2017-03-21 11:25] gorn commented on #27
Ok, on second thought it is not that suspicious and maybe we are looking at two bugs which are unrelated. The reason why the empty-tamplate won't open may be that it does *not* contain some parts as styles.xml etc, which is intentional. It is created later on by the script itself. If the freshly created file in all versions work, than we so not need to worry about that. Can you confirm that freshl

[2017-03-21 11:35] gorn commented on #27
BTW I have read the README from the https://github.com/vtamara/prob-excel-rspreadsheet03 and thank a lot for this! It is a great analysis and if it is correct, that it points out the problem. The bug should be in conpression. But the compression is done by rubyzip ... you may try on think thought. If you replace appropriate line in rspreadsheet.gemspec by

and `budle update` than the newer version

[2017-03-21 13:44] vtamara commented on #27
Before reading your comments I was understanding more the minimal empty file that Excel can open. By merging https://github.com/gorn/rspreadsheet/blob/v0.2.14/lib/rspreadsheet/empty_file_template.ods?raw=true and the empty file created with Excel that I referenced before , I could create:
- [An empty spreadsheet that can be opened in Excel with warnings](https://github.com/vtamara/prob-excel-rspre

[2017-03-21 13:51] vtamara commented on #27
Yes a new file generated with 0.2.14 can be opened with Excel (after ignoring a warning).

[2017-03-21 13:52] gorn commented on #27
This is good test, but does not help that much. I prefer the "empty template" to be minimalistic and do not contain more information than necessary. "Empty" files from LibreOffice/Excelusually contain lots of things which depend on language of your installation and I do not want to include that etc. The sheet to content.xml is added by script itself, as well as styles and meta changes.

I dug litt

[2017-03-21 14:31] vtamara commented on #27
Changing the specfile and running bundle update, didn't help.

After updating rubyzip to 1.2.1 if I unzip the generated file and zip it from the command line it works in Excel.

[2017-03-21 15:28] vtamara commented on #27
The problem seems to be in the compression of manifest.xml (not because of newlines but something with the compression that is not supported by Excel).
To test I made a change in workbook.rb to save  manifest.xml only when it changes (it seems it changes only when there are images).
It is at https://github.com/vtamara/rspreadsheet/commit/acd346da8f2ae13bd56fdfbe70591f89760e5efe

With this change t

[2017-03-21 17:31] vtamara commented on #27
Since I'm still not using rspreadseet to include new images in any project, for the moment the PR #28  is enough for me, and possibly for other people who was using rspreadsheet before 0.3.   I wish that simple pull request could be accepted or a better solution in the short term could be found , as well as a new version of rspreadsheet including the fix --to start using it the projects where I'm

[2017-03-22 22:48] vtamara opened #30 "Manipulation of a spreadsheet randomly crashes application with "Bus error""
In OpenBSD/adJ 6.0 with ruby 2.40 and libxml-ruby 2.9.0, running ```bundle exec rspec``` sometimes produces ```Bus error```.  Trace is long, it uses to include:
[code]

I see the same kind of errors in the CI at travis, for example:

https://travis-ci.org/gorn/rspreadsheet/jobs/214028477

Running rspec seems to me that produce a bus error every one of three attempts.

[2017-03-22 22:57] vtamara commented on #30
I think it is the same error that I reported in #20, that happens with libxml-ruby 2.9.0, an issue in libxml-ruby not resolved (but unfortunately closed) deals with that, see https://github.com/xml4r/libxml-ruby/issues/127

In applications where I use rspreadsheet my workaround in this moment is to use libxml-ruby 2.8.0.

[2017-03-25 00:08] gorn commented on #30
I have accepted your pull request and the gem now uses 2.8.0. It seems to be ok now, so I close this bug. Feel free to reopen, if needed.

[2017-03-25 00:08] #30 closed

[2017-03-25 03:10] vtamara commented on #27
I squashed the commits of #29 to make it easier to review. I think it solves the regression.

[2017-03-25 10:07] #27 closed

[2017-03-25 15:22] gorn commented on #27
Still it would be good to find out when the regression happened and what is the real reason, because this is going to come back when manifest.xml needs to be manipulated.

[2017-03-25 17:31] gorn commented on #23
Decided to put TimeOfDay in Time object. Will see what it gives.

[2017-03-25 17:56] gorn commented on #23
fixed by 9f18b01

[2017-03-25 17:56] #23 closed

[2017-03-25 23:32] vtamara commented on #19
IMHO it is fine that it returns #112233

[2017-03-30 00:13] vtamara commented on #27
Right. However for the moment the regression is fixed.

Could you please release a new version, so people (like me) can use the newest rspreadsheet gem in projects?

[2017-03-30 10:33] gorn commented on #27
@vtamara released

[2017-04-19 13:25] vtamara opened #32 "Tests not passing when trying with libxml-ruby 3.0.0"
Seems that there is no memory problems with libxml-ruby 3.0.0, however some tests are not passing.

[code]

[2017-04-21 13:59] gorn opened #34 "Assigement of an value to a cell (and possible converion) is nontrivial"
It is nontrivial to decide what to do upon assignemen of an value of class A to a cell which has type B. Currently I am giving preference to A, but maybe it should not be so. Traditionally (LibreOffice) the spreadsheet tries to convert value to B and only if it is not possible, changes the type of cell to A. This needs to be investigates and reimplemented (also the guess_cell_type is spagetti code

[2017-04-21 14:06] gorn opened #35 "Mimic LibreOffice cell typeguessing"
This is a feature request and needs some more investigation. LibreOffice does very good job in setting default styles for cells when the cell is the only one set in a column. It stores this info to column information. Rspreadsheet should respect this value (and do not add additionall style value to a cell) and make use of it (in guessing types of a cell).

[2017-04-21 14:26] gorn opened #36 "featurewish: method returning last "meaningful" row"
I guess the title says it all. It would be great to be able to get a range of rows (and perhaps columns) where there are meaningful data. At least something like get_last_row_with_data would do, but an iterator over nonempty rows would be even greater.

[2017-04-21 14:31] gorn commented on #36
Aargh, it has already there - see `used_rows_range` ... nevermind, the iterator would still be great.

[2017-04-21 14:53] gorn commented on #36
Ok, more on this. There is actually difference, between `used_rows_range` and what I need. used_rows_range gets the range which is "technically" used, but it is not the same as the nonempty rows. Typicall example is in an attachement.

[2017-05-03 23:08] #32 closed

[2017-10-16 16:46] uranio-235 opened #37 "currency field"
imposible to set value and keep currency field type

[2017-10-16 18:17] gorn commented on #37
Can you be more specific and open pullrequest with faing test with failing code?

[2018-11-06 02:05] go2null opened #38 "libxml-ruby dependency not identified by `gem install` on Alpine and Void Linux"
[code]

[2018-11-06 02:13] go2null commented on #38
[code]

[2018-11-06 02:15] go2null commented on #38
`gem install rspreadsheet` also doesn't work on native Void Linux.  (This is how i came across the issue.)

Note as well that if I clone the rspreadsheet repo and run `bundle` the `bundle` correctly identifies `libxml-ruby` and installs it.

[2018-11-06 09:01] gorn commented on #38
I am not sure if I understand what you are trying to achieve (also I have no experience with docker).

The idea behind special `libxml-ruby` was to allow systems which already have it installed natively use the system version and do not require gem version.  Dies Void linux contain it? (If yes that the behavior

[2019-03-02 09:05] Nitrodist commented on #38
This error is actually because version 0.4.5 has a bug in it, in my opinion.

I'm not completely familiar with how gemspecs dependency graphs are sourced, but I suspect that even if your code on the disk has a gemspec, that it's not being read off the disk and evaluated. I was debugging this problem by trying to debug why my Mac OS X Mojave ruby wasn't requiring libxml-ruby and verified that the c

[2019-04-16 17:32] paddor opened #39 "FODS support"
Right now, I get an error when I try to open a FODS document:

[code]

As far as I know, it's just an uncompressed version of ODS.

[2019-04-19 19:43] gorn commented on #39
I have never worked with FODS, but if you fill in the issue with expected usecase and some examples I can have a look at it. If you are able to file failing test, than it is even better.

[2019-04-19 20:49] paddor commented on #39
Use case: I don’t wanna check binary files into my Git repository. ODS files are compressed and thus binary. Git can’t work out diffs of binary files.

In LibreOffice under “Save as...” I choose the FODS (Flat ODS) file format, which is an uncompressed XML file. Unfortunately this project assumes all files to be compressed and thus always uses `Zip::File` IIRC.

Suggestion: When opening a file, ch

[2019-04-19 23:48] gorn commented on #39
I just briefly looked at FODS file created as you describe. It seems to me in quite different format that usual ods files. Usual OSD is not only zipped, but also contains several separate files, so handeling of for example pictures is realtively easy (they are just stored in zip and referenced). We would need to find more documentation of FODS and its differencies / simmilarities to ODS before it

[2019-04-30 13:29] twnaing opened #40 "Setting background color get more cells colorized"
I am trying to set background color using the following code.

[code]

![](https://i.imgur.com/lBS1EX9.png)

_Please see the below screenshot to see the column I want to colorize_

`col` and `row` are generated in nested loop. The following code correctly set the cell with value 'S' (so the col and row calculation is correct)

[code]

![](https://i.imgur.com/xvuTzwr.png)

I have tried accessing th

[2019-04-30 13:30] gorn commented on #40
Can you provide a failing test? I.e. piece of code, which does not behave the way you would like?

[2019-04-30 13:35] twnaing commented on #40
@gorn, thank you for quick response.

Frankly, I do not have test. I am just doing manual testing.

I updated the issue post with screen shot.

[2019-04-30 13:43] gorn commented on #40
I do not need any sofisticated test. I just need to reproduce the error to be able to correct it.

When I run the following code

[code]

It saves correct document with gray background of cell A1. Can you alter the code so it fails?

[2019-04-30 14:35] twnaing commented on #40
@gorn, sorry, I want to apologize for wasting your time.

I found out that the ods file has lot of errors. (I tested it with `jing` according to [this page](https://wiki.oasis-open.org/office/How_to_Validate_an_ODF_document))

ods file converted using the following software/service has the problem discussed in this issue

- converting xlsx file to ods with Microsoft Excel 16.16.8 (190312) on Mac
-

[2019-04-30 14:37] gorn commented on #40
You are welcomed, BTW the easiest way to convert is to install LibreOffice. Cals is also superior to Microsoft Spreadsheet tool.

[2019-05-02 04:36] twnaing commented on #40
@gorn, I did convert using LibreOffice. Even with LibreOffice, I still experiencing background color bleeding to other unintended cells. I am still testing and couldn't pinpoint the cause.

The worksheet needs to have
- colored background
- merged cells
- conditional formatting
- formulas
- font styles and size set
- image

I will report back here if I found specific feature causing the background

[2019-05-02 04:39] gorn commented on #40
It would be helpful if you are able to isolate reoroducible case. Ie fails everytime. Reooen the issue than.

[2019-05-03 10:20] gorn commented on #39
@paddor after some investigation I think I might be able to add the support, however it would need to be tested in practical usage. Without that I do not think it is good to include it in production verions. Are you willing to do some testing, as you seem to work with fods? I personally do not use them at all.

[2019-05-03 11:51] gorn commented on #40
@twnaing even if you do not isolate the problem, it is sufficient for me to have any reproducible failing case. Even complicated one, but it should be reproducible on my side, as a first step to correct it.

[2019-05-04 11:46] twnaing commented on #40
@gorn,

When I changed the background color of the cell (I wanted) the cells (I do not wanted) are also changed __if they have the same format__. It is not specific to feature.

example 1: if A1 and C10 are bordered in LibreOffice, they will have same background color if I change the background color of A1 by opening the file and saving the file again with rspreadsheet.

Not related to this one, i

[2019-05-04 14:55] gorn commented on #40
That has some logic ... I will try to prepare the file with which it fails

[2019-05-04 19:14] paddor commented on #39
Thanks, that’s great news! Yes, I’d be willing to do some testing and give feedback. To be honest though, that particular application is not reading the FODS file yet, so there’s no need to hurry. But I’d still fairly easily be able to perform some testing, whenever this feature is ready.

[2019-05-24 15:46] gorn opened #41 "Tests failing for ruby >= 2.4.6"
According to https://travis-ci.org/gorn/rspreadsheet/builds/536831690 tests are failing for ruby 2.4.6, 2.5 and 2.6, this is probably because minor incompabilities in bundler syntax, need to investigate, preferably while preserving compability with older ruby versions.

[2019-05-27 08:57] gorn commented on #41
Resolved by recent commits, after  842862ec4644338a7 this issue has been resolved.

[2019-05-27 08:57] #41 closed

[2019-05-27 11:25] gorn commented on #40
Submitted failing test, see also https://travis-ci.org/gorn/rspreadsheet/builds/537741387

[2019-05-27 16:18] #40 closed

[2019-05-27 16:37] gorn commented on #40
@twnaing: I have found and corrected the bug. There is a new release ver 0.4.8 for that. Can you upgrade and test it on your side?

[2019-05-27 16:38] gorn commented on #37
@uranio-235 Unless you specifi how to reproduce the bug, I will need to close it, because I was unable to reproduce it.

[2019-05-29 05:29] twnaing commented on #40
@gorn, confirmed. It is working as expected.

[2019-05-30 21:51] gorn opened #42 "Cells table:covered-table-cell ignored."
Element table:covered-table-cell, which symbolize cells which are coveed by spanned cells. They should be treated as other cells most of the time.

This is probably new thing in 1.2 specification.

[2019-05-30 22:17] gorn opened #43 "Repeated header rows (contained in table:table-header-rows) are ignored."
If some rows are repeated on every page, they are contained in table:table-header-rows section. They are currently ignored.

[2019-06-01 10:02] #42 closed

[2019-06-01 10:02] #43 closed

[2019-06-01 11:28] gorn commented on #38
I have added (c204657b27aa) explanation of this to Troubleshooting guide.

[2019-06-01 11:28] #38 closed

[2019-06-02 14:47] gorn commented on #7
Not only save_to_io works, but the file can now be convertet to_io object, which behaves like normal input stream, curently having read method only (not sure how the write would behave). So one can do something like:

    File.open(@tmp_filename, 'w') do |file|
      file.write(book.to_io.read) # this does not work
    end

but obviously any other stream can be used, using FIle is quite trivial.

[2019-06-10 16:09] gorn commented on #39
Ok, I have implemented basic functionality for fods files and released as version 0.5. It needs to be tested however, there might easily be some missing parts. Will you have a look at it @paddor ?

I know that it can not covert one format to the other and does not support images yet. Let me know.

[2019-07-16 04:12] RavensKrag opened #44 "method mispelled: Rspreadsheet::Row#lenght should be #length"
As mentioned in the title, the method name is misspelled.

[2019-07-19 10:17] gorn commented on #44
Thanks for spotting this!

[2019-07-19 10:17] #44 closed

[2019-07-24 06:23] twnaing opened #45 "Existing formula calculate fields set by rspreadsheet"
Existing ods file has formula pre-set.

I use rspreadsheet (v0.5.1) to
- open the file
- write data
- save

The pre-set formulas do not calculate the data set by rspreadsheet. If I open the file in LibreOffice and make change to the data (insert space and backspace (or) press delete key and enter, etc.) the formula works.

### Step to reproduce

- download attached ods file (generated using rsprea

[2019-07-26 14:28] gorn commented on #45
Wel I guess I know what is going on there and it is somehow difficult to tell what is the best solution. The cause of this is that in ODS format each formula field has two parts - the formula and the calculated result as it was calculated last time. Fro example K7 has "=A1+A3" or "=CONFIDENCE.NORM(0,3;0,1;400)" in one part and "7" or "0,0051821669" or in another. If the field A1 is changed, my plu

[2019-07-26 15:14] gorn commented on #45
This relates to the problem
https://askubuntu.com/questions/31303/how-do-you-refresh-formulas-in-openoffice-libreoffice-calc

[2019-07-26 15:56] gorn commented on #39
I am closing this for now, but I would still be interested if @paddor or anyone else can test new functions. It works for me at the moment.

[2019-07-26 15:56] #39 closed

[2019-07-26 21:08] gorn commented on #45
Just for the record - I made a fresh sheet with only few cells and strangely the bug is NOT there. I can still reproduce it with your file. This is really strange.

[2019-07-27 14:24] twnaing commented on #45
This approach will solve my bug and will not act against the philosophy of the gem.

For my ods file, i created with LibreOffice on Xubuntu 18.04.

[2019-07-27 14:47] gorn commented on #45
Honestly I have no idea if it will work. I will need to try this - I have also found some options withing LibreOffice itself which can influence this (Under Tools > Options > LibreOffice Calc > Formula) so one approach would be to make the script somehow mark the file as "Older Libreoffice" and leave user to choose what will be done in this case. The problem is that I did not find any documentatio

[2019-07-27 14:57] twnaing commented on #45
In [this discussion](https://ask.libreoffice.org/en/question/12165/calc-auto-recalc-does-not-work/), LibreOffice support replied there are two reasons auto calculation does not work
- LibreOffice program setting (you just mentioned)
- cell setting (this could be the problem in my odd file)

The workflow is second approach.

[2019-07-27 15:59] gorn commented on #45
Interesting link, thanks. However:

What do you mean by "cell setting" - I find it nowhere on that page. I did try to see if the LibreOffice somehow marks the cell which is not working, but so far I did not find anything, the cell seems not different from any others. Btw, you can yourself have a look at aby cell "internals" just by saying

sheet.cell('H13').xmlnode.to_s

[2019-07-30 23:31] gorn commented on #45
Interestingly enough it seems that LibreOffice itself has/had several issues regarding the recalculation. See https://listarchives.libreoffice.org/global/users/msg51487.html

[2019-08-01 14:40] twnaing commented on #45
Subsequent reply stated that (I haven’t try it yet myself)

/~/.config/libreoffice/4/user/registrymodifications.xcu/ to "1"

[2019-09-18 10:29] gorn opened #46 "libxml gem not installed automatically on windows"
I have tried to use the gem under windows and althought libxml is not installed natively I get error

    C:/Users/jatesins/AppData/Ruby25-x64/lib/ruby/2.5.0/rubygems/core_ext/kernel_require.rb:59:in `require': cannot load such file -- libxml (LoadError)
after

    gem install libxml-ruby

everything seems fine.

[2019-09-18 10:32] gorn commented on #46
There is some info at https://github.com/xml4r/libxml-ruby

gem install x64-mingw32

[2019-09-18 12:17] gorn commented on #46
Another link (but not a solution)
* https://github.com/xml4r/libxml-ruby/issues/125 suggests `gem install libxml-ruby --platform=x64-mingw32`

[2019-09-18 13:52] gorn opened #47 "Header rows are not respected"
If some rows are marked as header, they are ignored. I am not sure where this is in GUI, but in xml it is denoted by `<table:table-header-rows>` group in which `<table:table-row>`'s are grouped

[2019-09-18 14:24] gorn commented on #47
Duplicate #43

[2019-09-18 14:24] #47 closed

[2019-09-26 14:09] vtamara opened #48 "Rubyzip 1.3.0 and 2.0.0"
Please allow newer gems like rubyzip 1.3.0 and rubyzip 2.0.0

[2019-09-26 20:08] #48 closed

[2019-09-26 21:05] gorn opened #51 "rewriting cell addresses in formulas when inserting rows / cells"
This idea might very well be out of the scope of any gem like this, but I put it here for discussion. Currently the gem touches the original file only as less as necessarry. This for example means, that if I insert a row, all other rows after it are pushed down, but no formulas are influenced. This can possibly lead to unexpected results if any cells contain adresses to other cells. Open/LibreOffi

[2019-09-27 08:55] vtamara commented on #51
Sounds useful, given the discussion of #45.

I wonder if DocumentBuilder of OnlyOffice could recalculate https://www.onlyoffice.com/document-builder.aspx  ?

[2019-10-09 23:05] gorn opened #53 "Size does not ignore formatted cells without content"
Seet the pull request #52 by @jglauche.

If I understand it correctly some software (which one?) saves fows with the last item beeing something like this: `<table:table-cell table:number-columns-repeated="1024"/>`. In the current implementation this leads to `row.size` include this and return number bigger than 1024, which is not probably what user expects.

Does this happens with rows as well? Ca

[2019-10-09 23:09] gorn commented on #53
It seems to me that f5a4e01 only resolves this partially, what about many rows which have two empty cellspans.

[2019-10-11 14:46] jglauche commented on #53
In my tests, I've seen some rows to have unusual size limits, gonna dig into that. I also found yet  another issue that content with .fods files is not being parsed correctly, not sure if that is related:

[code]

I don't know how to distinguish between manually created but empty cellspans vs. empty styles being automatically applied to large row/column number. Do you have a suggestions or a test

[2019-10-13 12:11] jglauche commented on #53
I added a bunch of tests to my upstream. .fods file and gnumeric .ods file tests still fail.

It seems like merged cells are counted as individual cells:
[cell1] [merged cell 2+3] [cell4]
would currently behave in returning row.size of 4. I could use some input on how it's supposed to work.

[2019-10-13 12:43] jglauche commented on #53
I fixed the issues with flat ods and gnumeric files by checking against content.strip.empty?

[2019-10-13 16:04] gorn commented on #53
The way it is sopposed to work is that if `row=[cell1] [merged cell 2+3] [cell4]` than row.size should be 4. If is more row.width than "number of cells". It is a good point however, it just did not come to my mind, that there can be different approach to this.

[2019-10-13 17:17] jglauche commented on #53
If we go by different ways to approach this, we should make it consistent for merged rows and cells
My question would be how we would name the different functions that act as between merged and unmerged content and which mode would be the default?

[2019-10-13 18:56] gorn commented on #53
@jglauche Surely the behaviour must be consistent. Is the behaviour different for rows? (Sorry did not have change to pull your code and hand test it, from diffs it looks good however)

[2019-10-14 12:10] jglauche commented on #53
@gorn no, my current implementation is consistently showing merged cells in any direction as individual items.

[2019-10-17 23:23] singpolyma commented on #46
This problem also exists on Debian, though `apt install ruby-libxml` fixes it here

[2019-10-18 14:35] gorn commented on #46
on debian, the gem is trying to check whether ruby-libxml is intalled natively and if not, than install it as gem. if that does not work, than it is another issue

[2019-11-18 13:11] kammerer commented on #46
Sorry for hijacking the issue - it also does not work on Linux Mint 18.2 (Ubuntu based).
Both solutions from [this comment](https://github.com/gorn/rspreadsheet/issues/38#issuecomment-468902447) solve the problem (downgrade to 0.4.4 or add `libxml-ruby` to own Gemfile). Tested on rspreadsheet 0.5.3.

[2019-11-22 01:13] rubycoder commented on #46
I've also had problems with the libxml gem when trying to use rspreadsheet on Windows (both 7 & 10) with Ruby 2.5.5, even after trying the suggestions above.

I noticed my C:\Ruby\Ruby255-x64\lib\ruby\gems\2.5.0\gems\libxml-ruby-3.0.0-x64-mingw32\lib folder has a 2.4 subfolder containing libxml_ruby.so, but no 2.5 subfolder.  As the .so files on Windows are specific to a particular Ruby minor vers

[2020-06-16 19:39] doriantaylor commented on #46
FYI just installed `rspreadsheet` on macos catalina and it didn't install `libxml-ruby` here either.

[2020-10-05 09:17] kalidor opened #59 "Randomly crash"
Hi, first of all, thanks for your work, I recently discovered this gem and it seems perfect for my needs.
But.. I experiment some crash.
Sometimes everything is fine, the ODS is created exactly as expected, but sometimes it fails (3 times out of 4).

Error log:
[code]
The error is a bit weird since, it changes sometimes without touching ruby code or data:
- /.gem/ruby/2.7.0/gems/rspreadsheet-0.5.3

[2021-02-18 21:42] dmolesUC opened #60 "Bundler doesn't detect libxml-ruby as a transitive dependency on macOS"
## Steps to reproduce:

1. on macOS, create a new Ruby project with `rspreadsheet` as a dependency in the Gemfile.
2. run `gem dependency -R rspreadsheet`

## Expected:

- `libxml-ruby` appears as a dependency

## Actual:

[code]

## Hypothesis:

I see the code in the gemspec that's meant to check whether `libxml-ruby` is already installed. I don't know enough about Bundler or Rubygems internals,

[2021-02-18 23:47] dmolesUC commented on #59
I'm seeing this as well on my Mac, crashing pretty consistently, albeit at more or less random points. I tried reinstalling libxml-ruby configured to use Hombrew libxml2, but that didn't seem to help.

[2021-07-26 08:31] Kawsay commented on #46
Using Debian 10, `rspreadsheet 0.5.3`, and having `ruby-libxml 3.1.0-1` installed, I had to run `gem install libxml-ruby` to be able to require rspreadsheet.

[2021-11-22 03:29] soundasleep commented on #46
I couldn't get `rspreadsheet` to work under Windows 10/Ruby 3.0.2p107:

[code]

`libxml-ruby`'s suggestion to `gem install libxml-ruby-x64-mingw32` doesn't work, I assume because it's built against Ruby 2.7 and I'm on Ruby 3.0 (have raised https://github.com/xml4r/libxml-ruby/issues/176):

[code]

[2021-12-16 05:30] logicalstreet-info opened #61 "Can we open password protected file"

[2021-12-20 19:08] SP8890 opened #62 "Uncaught exception: cannot load such file -- libxml_ruby even if it's installed."
The libxml seems installed but still thowing this error. below are some configs. please advise. Thanks

Gem Environment :
RubyGems Environment:
RUBYGEMS VERSION: 2.7.6
RUBY VERSION: 2.5.3 (2018-10-18 patchlevel 105) [x64-mingw32]
INSTALLATION DIRECTORY: C:/Ruby25-x64/lib/ruby/gems/2.5.0
USER INSTALLATION DIRECTORY: C:/Users/Sachin/.gem/ruby/2.5.0
RUBY EXECUTABLE: C:/Ruby25-x64/bin/ruby.exe
EXECUTA

[2021-12-24 08:35] kalidor commented on #62
This is not an error. This is all the environment variables printed, nothing more.

[2021-12-24 14:29] SP8890 commented on #62
Hi @kalidor, thanks for notifying,  please find attached,

**Code**  :
require 'rspreadsheet'

book = Rspreadsheet.open('/home/rahul/Downloads/spreadsheet_test.ods')

sheet = book.worksheets(1)

sheet.B2 = "578"

book.save

**Error**  :

C:\Ruby25-x64\bin\bundle.bat exec C:\Ruby25-x64\bin\ruby.exe C:\Users\Sachin\.gem\ruby\2.5.0\gems\ruby-debug-ide-2.3.1\bin\rdebug-ide --key-value --step-over-in-b

[2022-01-03 16:11] gorn commented on #61
This is not implemented.

[2022-04-13 20:07] vtamara opened #63 "Problem writing cell with a drop-down list"
When there are several cells with a drop-down list and you write one with rspreadshett, all the cells with the drop-down list will be written.

I created a test repository with an example spreadsheet with 25 cells with drop-down and a script that writes in one.   The result is a spreadsheet with the 25 cells with the value written just one.

See: https://github.com/vtamara/prob-rspreadsheet-dropdo

[2022-07-25 14:53] anewb opened #64 "Unclear how to set cell number format for date etc."
When setting a cell value to a DateTime object `sheet[current_row, 1] = DateTime.parse(date)`, the cell shows just a numerical value in LibreOffice. I could not find any documentation on how to set the number format for a cell to date. Is there any example or links where to find documentation on this?

[2022-09-28 21:57] #53 closed

[2022-09-28 21:57] gorn commented on #53
Accepting the oull request